<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Antywirusy",  '/katalogs' %></li>
      </ul>
      <% if @current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Wyloguj",  '/logout' %></li>
      </ul>
      <%  end %>
    </nav>
  </div>
</header>
